<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Token-based Authentication on Node apps</title>
</head>
<body>
  <form method="post" action="/login">
    <input type="text" name="username" placeholder="username" autofocus="on">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Sign In</button>
  </form>
</body>
</html>